body {
      background-color:#31b7c6;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    header {
      text-align: center;
      padding: 20px;
      background-color: rgb(180, 83, 102);
    }
    header h1 {
      color: rgb(15, 9, 100);
      text-decoration: underline;
      font-style: italic;
      margin: 0;
    }
    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 10px;
      margin: 0;
      background: #333;
    }
    nav ul li {
      margin: 0 15px;
    }
    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    nav ul li a:hover {
      text-decoration: underline;
    }
    main {
      padding: 20px;
      text-align: center;
    }
    main h2 {
      color: red;
    }
    
    
    footer {
      text-align: center;
      padding: 10px;
      background-color: rgb(72, 65, 60);
      color: white;
      margin-top: 20px;
    }
    /* Fullscreen overlay */
    #loader {
      position: fixed;
      bottom: auto;
      left: 0;
      width: 100%;
      height: 100%;
      background: #31b7c6;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    /* Spinner */
    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
      
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    